<h3>Welcome to Events page</h3><br>
<h4>Upcoming Events</h4>
<% @event.future.each do |event| %>
<%= event.description %><br>
<% end %>
<h4>Past Event</h4>
<% @event.past.each do |event| %>
    <%= event.title %><br>
    <%= event.description %><br>
    <%= event.date_of_event %><br>
    <%= event.user_id %><br>
<% end %>

<%= link_to "show", events_path %>
<%= link_to "Create Events", new_event_path %>
