<h3>Welcome to Events page</h3>
<h4>Upcoming Events</h4>
<% @event.future.each do |event| %>
<ul>
<li>
<strong>
<%= event.title %><br>
</strong>
</li>
</ul>

<%= event.description %><br>
<%= details(event) %>

<% end %>
<h4>Past Events</h4>
<% @event.past.each do |event| %>
<ul>
<li>
<strong>
    <%= event.title %><br>
</strong>
</li>
</ul>
    <%= event.description %><br>
<%= details(event) %><br>
<% end %>
<%= create %>

<%= login %> <br>
<%= signup %>
