<h3>Welcome to Events page</h3>
<h4>Upcoming Events</h4>
<% @event.future.each do |event| %>
<ul>
<li>
<strong>
<%= event.title %><br>
</strong>
</li>
</ul>

<%= event.description %><br>
<%= link_to "See details", event_path(event) %>

<% end %>
<h4>Past Events</h4>
<% @event.past.each do |event| %>
<ul>
<li>
<strong>
    <%= event.title %><br>
</strong>
</li>
</ul>
    <%= event.description %><br>
<%= link_to "See details", event_path(event) %><br>
<% end %>
<%= link_to "Create New Event", new_event_path %>
