<h3>Event creator</h3>
<% if @event.attendees %>
    <%= @event.title %>
    <%= @event.description %>
    <%= @event.date %>
    <%= @event.user_id %>
<% else %>

<% @event.attendees.each do |attendee| %>
<%= attendee.email %>
<% end %>
<% end %>